*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $fMontserrat;
}

html {
	font-size: var(--rem)
}

body {
	margin: 0;
	min-width: 375px;
	position: relative;
	cursor: default;
	background-color: var(--page-background);
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
	&.overlay-open {
		overflow-y: hidden;
		padding-right: 0px;
  }
}

.app {
	display: flex;
	flex-direction: column;
	min-height: calc(100 * (var(--vh)));
	overflow: hidden;
}

.page {
	flex-grow: 1;
    padding-top: 36px;
    padding-bottom: 64px;
}