*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: .1px;
}

html {
	font-size: var(--font-size-16);
	font-family: $fMontserrat;
}

body {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-width: 375px;
	min-height: 100%;
	width: 100%;
	position: relative;
	cursor: default;
	background-color: var(--page-background);

	&.overlay-open {
		overflow-y: hidden;
		padding-right: 0px;
  }
}

// .app {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: calc(100 * (var(--vh)));
// 	overflow: hidden;
// }

// .page-container {
// 	display: grid;
//     min-height: 100vh;
//     grid-template-rows: 76px 1fr auto;
//     grid-template-columns: 100%;
//     overflow: hidden;

// 	&__main {
// 		position: relative;
// 	}
// }

.search-page {
	overflow: hidden;

	body {
		overflow-y: scroll;
	}
}

.sidebar-page {
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-palette-white-base);
}

::-webkit-scrollbar-track {
    background: var(--color-palette-gray-40);
    border-radius: 10px;
}

::selection {
    background: var(--color-palette-green-10);
    color: var(--color-palette-black-50);
}