@mixin font-face($fontFamily, $fileName, $fontWeight, $fontStyle: normal) {
  @font-face {
    font-family: $fontFamily;
    src: url('@/shared/assets/fonts/#{$fileName}.woff2') format('woff2'),
    url('@/shared/assets/fonts/#{$fileName}.woff') format('woff');
    font-weight: $fontWeight;
    font-style: $fontStyle;
    font-display: optional;
  }
}

@include font-face($fnMontserrat, 'Montserrat-Regular', $fRegular);
@include font-face($fnMontserrat, 'Montserrat-Medium', $fMedium);
@include font-face($fnMontserrat, 'Montserrat-Bold', $fBold);
@include font-face($fnMontserrat, 'Montserrat-SemiBold', $fSemiBold);
