.container {
    --padding-inline: 1rem;
    --padding-inline-full: 0rem;
    --content-max-width: 1340px;
    --breakout-max-width: 1440px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width))/2);
    --calculated-width: calc(100% - var(--padding-inline)*2);
    display: grid;
    grid-template-columns: 
		[full-width-start] minmax(var(--padding-inline-full), 1fr) 
		[breakout-start] minmax(0, var(--breakout-size)) 
		[content-start content-right-start] min(var(--calculated-width), var(--content-max-width)) 
		[content-end] minmax(0, var(--breakout-size)) 
		[breakout-end content-right-end] minmax(var(--padding-inline-full), 1fr) 
		[full-width-end];
    margin: 0 auto;
    width: 100%;

}

.container > .full-width {
	display: grid;
    grid-column: full-width;
    grid-template-columns: inherit;
}

.container-right {
	grid-column: content-right;
}

.container .content-right, .container > .content-right {
    grid-column: content-right;
}

.container .full-width>:not(.breakout,.full-width,.content-right,.full-width-end), 
.container>:not(.breakout,.full-width,.content-right,.full-width-end) {
	grid-column: content;
}

.container .breakout, .container>.breakout {
    grid-column: breakout;
}

@media (max-width: 640px) {
	.container {
		padding-top: 56px;
	}
}