.container {
	width: 100%;
    padding: 50px 250px;
    margin: 0 auto;
	
	&-head {
		display: grid;
		grid-template-columns: 1fr auto;
		margin-bottom: 40px;
		grid-gap: 16px;
		gap: 16px;
	}

	&-title {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2em;
		color: var(--color-palette-white-base);
		align-self: center;
		display: flex;
		grid-gap: 20px;
		gap: 20px;
		align-items: center;
	}
}

@media (max-width: 1700px) {
    .container {
        padding: 50px 70px;
    }
}

@media (max-width: 1280px) {
    .container {
        padding: 50px 18px;
    }
}

@media (max-width: 880px) {
    .container {
        padding: 30px 15px;
    }
}

@media (max-width: 600px) {
    .container-title {
        font-size: 22px;
    }
}