.content-container {
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding: 50px 150px
    // max-width: calc($mwContent + var(--gContent) * 2);
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: var(--gContent);
    // padding-right: var(--gContent);
}

@media (max-width: 1700px) {
    .content-container {
        padding: 50px 70px;
    }
}