.content-container {
    width: 100%;
    max-width: calc($mwContent + var(--gContent) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gContent);
    padding-right: var(--gContent);
}