:root {
	--page-background: #05172c;
	--card-shadow: 0 4.5696px 118.81px #000,0 27.4176px 251.328px #000;
	--vh: 1vh;
	--color-white: #fff;
	--defaultColorLight: hsla(0, 0%, 100%, 0.8);
	--defaultColorBlack: hsla(0, 0%, 0%);
	--rem: #{$baseRem};
	--gContent: #{$gContent};
  }