:root {
	--page-background: #09090b;
	--card-shadow: 0 4.5696px 118.81px #000,0 27.4176px 251.328px #000;
	--font-size-16: 16px;

	// Grid
	--gContent: 46px;
	--page-min-width: 1024px;
	--header-height: 76px;
	--header-z-index: 1500;
	--content-z-index: 3;
	--vh: 1vh;

	// Colors
	--color-palette-gray-70: #3a3a3d;
	--color-palette-gray-40: #676767;
	--color-palette-gray-30: #757577;
	--color-palette-gray-20: #838ca4;
	--color-palette-gray-15: #b4b9c0;
	--color-palette-gray-10: #bababa;
	--color-palette-gray-7: #c8cbd6;
	--color-palette-gray-6: #d1d5db;
	--color-palette-gray-5: #f2f2f2;
	--color-palette-white-base: #fff;
	--color-palette-black-70: #0b0b0b;
	--color-palette-black-60: #09090b;
	--color-palette-black-50: #09090c;
	--color-palette-black-40: #131517;
	--color-palette-black-30: #232326;
	--color-palette-black-20: #222;
	--color-palette-black-solid: #000;
	--color-palette-blue-80: #122337;
	--color-palette-blue-10: #3369ff;
	--color-palette-carmine-10: #cd025b;
	--color-palette-yellow-10: #f2f452;
	--color-palette-green-20: #99e942;
	--color-palette-green-10: #b4fd64;
	--defaultColorLight: hsla(0, 0%, 100%, 0.8);
	--defaultColorBlack: hsla(0, 0%, 0%);
	--primary-gradient: linear-gradient(45deg,#f2f452,#b4fd64 64%);
  }