.external__rating {
	margin-right: 32px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto;
    grid-gap: 11px;
	&--value {
		font-size: 22px;
		font-weight: $fRegular;
		color: $cWhite;
	}
	&--small {
		margin-right: 16px;
		grid-template-columns: 22px auto;
		grid-column-gap: 10px;
	}
}

.external__rating--small 
.external__rating--value {
	font-size: 16px;
}

.external__rating--small
.external__rating--icon {
	width: 25px;
	height: 25px;
}