.pathway {
	list-style-type: none;
    margin: -10px 0 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

	&__item {
		color: var(--defaultColorLight);
		text-transform: capitalize;

		a {
			color: var(--defaultColor);
			font-size: 16px;
			font-weight: 600;
		}
	}

	&__separator {
		margin: 0 15px;
		color: var(--color-palette-white-base);
	}
}

@media (max-width: 500px) {
    .pathway {
        grid-gap: 5px;
        gap: 5px;
    }
}