.swiper-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px;
    color: var(--color-palette-white-base);
    background-color: transparent;
    border-radius: 32px;
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--color-palette-gray-10);
    color: var(--color-palette-white-base);
    border: none;
    backdrop-filter: blur(12px);
    transition: .3s;
	cursor: pointer;

	&:focus-visible,
	&:hover {
		opacity: .9;
		background-color: var(--color-palette-black-30);
	}

	&:disabled {
		display: none;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}

.slider-control {
	display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 100;
    top: 0;
    cursor: pointer;
}