.swiper-button {
	padding: 8px;
    opacity: .3;
	color: $cWhite;
	background-color: transparent;
	border: none;

	&:focus-visible,
	&:hover {
		opacity: .9;
	}

	&:active {
		opacity: 0.7;
	}

	&:disabled {
		display: none;
	}

	svg {
		width: 32px;
		height: 32px;
		opacity: .7;
	}
}
