.module {
    position: relative;
	margin-bottom: 80px;
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 32px;
	}
	&__title {
		color: $cWhite;
		font-size: 32px;
		font-weight: 600;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-column-gap: 15px;
		position: relative;
		h2 {
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
		svg {
			opacity: 0;
			transition: .3s;
			align-self: center;
			width: 22px;
			height: 22px;
			stroke: $cWhite;
			margin-left: 10px;
		}
	}
	&__movies--swiper {
		overflow: hidden;
	}

	&:hover &__title svg {
		opacity: 1;
	}
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}