.movie {
	&-info-group {
		align-items: center;
		color: var(--color-palette-white-base);
		display: flex;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;

		span {
			white-space: nowrap;
		}

		&__divider {
			opacity: .5;
			width: 1px;
			height: 16px;
			background-color: rgb(255, 255, 255);
			border-radius: 0px;
		}
	}

	&-rating {
		align-items: center;
		background: hsla(0, 0%, 100%, 0.161);
		border-radius: 10px;
		color: var(--color-palette-white-base);
		display: flex;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		gap: 8px;
		height: 36px;
		line-height: 20px;
		padding: 0 11px;

		&--imdb {
			svg {
				width: 32px;
				height: 16px;
			}
		}

		&--kp {
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	&-header {
		height: 800px;
   		position: relative;

		&__wrapper {
			align-items: flex-end;
			display: grid;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&__image {
			align-items: center;
			display: flex;
			height: 100%;
			inset: 0;
			justify-content: center;
			position: absolute;

			&::after {
				background: linear-gradient(180deg, #0a0a0a00, #0b0b0b), #d4d4d400 50% / cover no-repeat;
				content: "";
				inset: 0;
				position: absolute;
			}

			img {
				height: 100%;
				inset: 0;
				-o-object-fit: cover;
				object-fit: cover;
				position: absolute;
				width: 100%;
			}
		}

		&__overlay {
			align-content: flex-end;
			background: linear-gradient(180deg, #01030c00 85.93%, #0b0b0b), linear-gradient(270deg, #01030c00 24.17%, #0b0b0b 76.5%), #d4d4d400 170.066px -108.8px / 100% 127.2% no-repeat;
			display: grid;
			inset: 0;
			padding-bottom: 80px;
			position: absolute;
			z-index: 1;
		}

		&__content {
			display: grid;
			gap: 32px;
			max-width: 670px;
			transition: 1s ease-out;
		}

		&__name {
			display: grid;
			gap: 16px;
		}

		&__title {
			color: var(--color-palette-white-base);
			font-size: 52px;
			font-style: normal;
			font-weight: 700;
			line-height: 60px;
		}

		&__original-title {
			color: var(--color-palette-white-base);
			font-size: 24px;
			font-weight: 700;
		}

		&__filters {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			row-gap: 32px;
		}

		&__description {
			align-items: center;
			color: var(--color-palette-white-base);
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			svg {
				width: 85px;
				height: 36px;
			}
		}

		&__control {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			button {
				width: fit-content;
			}
		}
	}

	&-tooltip__trailers {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
	}

	&-description {
		display: grid;
		gap: 56px;
		grid-template-columns: 1fr 1fr;
		padding: 56px 0;

		&__info {
			display: grid;
			gap: 32px;
		}

		&__header {
			color: var(--color-palette-white-base);
			font-size: 50px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		&__text {
			color: var(--color-palette-white-base);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px;
		}

		&__votes {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		&__vote-block {
			display: grid;
			gap: 20px;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 346px;
		grid-column-gap: 74px;

		&-item {
			margin-bottom: 32px;
		}

		&-title {
			font-size: 28px;
			font-weight: 700;
			color: var(--color-palette-white-base);
			margin-bottom: 16px;
		}

		&-desc {
			font-size: 23px;
			font-weight: 500;
			line-height: 1.44;
			color: var(--defaultColorLight);
		}
	}
}

.trailers {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 8px;
		background: var(--color-palette-black-solid);
		padding: 10px 15px;
		border-radius: 5px;

		&__not-found {
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			padding: 6px 10px;
			background: rgba(0, 0, 0, .6);
			color: var(--color-palette-white-base);
			white-space: nowrap;
			border-radius: 10px;
			transition: .3s;
		}

		&__link {
			display: grid;
			align-content: center;
			justify-content: center;
			place-content: center;
			text-decoration: none;
			border-radius: 8px;
			border: 1px solid var(--color-palette-green-10);
			font-size: 14px;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: normal;
			color: var(--color-palette-gray-10);
			padding: 8px 10px;

			&:hover {
				border-color: var(--color-palette-gray-10);
			}
		}
	}
}

.fulltext__link {
	color: hsla(0, 0%, 100%, .7);
    font-style: italic;
    text-decoration: underline;
    font-size: 16px;
}

.series-list {
	display: flex;
    margin-top: 32px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;

	&__wrapper {
		position: relative;
	}
	
	&__season {
		position: relative;
	}
}

.link {
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

	&--module--seasons {
		align-items: center;
		border: 1px solid hsla(0, 0%, 100%, .3);
		border-radius: 100%;
		color: #fff;
		cursor: pointer;
		display: flex;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		justify-content: center;
		line-height: 26px;
		transition: border .3s;
		height: 88px;
		width: 88px;
		margin-right: 24px;
	
		&.active {
			border-color: var(--color-palette-green-10);
			border-width: 2px;
			color: var(--color-palette-green-10);
			font-weight: $fSemiBold;
		}

		&:hover {
			border-color: var(--color-palette-green-10);
		}
	}
}

.staff__wrapper, 
.seasons__wrapper {
	padding: 56px 0 0;
}


@media (max-width: 968px) {
    .movie__body {
        grid-template-columns: 1fr;

		&-title {
			font-size: 22px;
		}

		&-desc {
			font-size: 16px;
		}
    }

	.movie-vote__title {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
    .movie-description {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 680px) {
    .movie__head--trailers-btn {
        height: 48px;
        width: 48px;

		svg {
			width: 24px;
			height: 24px;
		}
    }
}

@media (max-width: 640px) {
	.link--module--seasons {
		font-size: 18px;
		margin-right: 16px;
		height: 40px;
		width: 40px;
	}

	.movie {
		&-description {
			&__header {
				font-size: 24px;
				line-height: 32px;
			}
	
			&__text {
				font-size: 16px;
				line-height: 24px;
			}
		}

		&-header {
			grid-template-rows: max-content 1fr;
			height: auto;
			&__title {
				font-size: 24px;
				line-height: 32px;
			}

			&__description {
				font-size: 16px;
				line-height: 24px;
				-webkit-line-clamp: 4;
		
				svg {
					height: 24px;
					width: 60px;
				}
			}

			&__filters {
				flex-wrap: wrap;
				row-gap: 16px;
			}

			&__image {
				height: 238px;
				overflow: hidden;
				position: relative;
			}

			&__overlay {
				padding: 0 0 16px;
				position: relative;
			}

			&__content {
				gap: 16px;
				transform: none;
			}

			&__name {
				display: grid;
				gap: 16px;
			}
		}

		&-rating {
			border-radius: 8px;
			font-size: 12px;
			font-weight: 400;
			gap: 4px;
			height: 28px;
		}

		&-info-group {
			flex-wrap: wrap;
			font-size: 16px;
			line-height: 24px;
		}
	}

	.movie-header, .movie-header__wrapper {
        position: relative;
    }

	.movie-header__control-button {
        width: 100%;
    }
}

@media (max-width: 450px) {
	.movie-tooltip__trailers {
		top: 70px;
		transform: translateX(-87%);
	}

	.trailers-list__not-found {
        top: 223px;
        transform: translateX(-45%);
	}
}

@media (max-width: 412px) {
	.movie-tooltip__trailers {
		top: 319px;
        transform: translateX(-52%);
	}

	.trailers-list__not-found {
		top: 255px;
        left: 29px;
	}
}