.movie {
	&__head {
		position: relative;
		min-height: calc(100vh - 76px);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&--overlay {
			display: flex;
			height: 100%;
			flex-direction: column;
			align-content: center;
			min-height: calc(100vh - 76px);
			padding: 30px 0;
			background-image:
				linear-gradient(180deg, 
					var(--color-palette-black-60), 
					rgba(9, 9, 11, .25), 
					rgba(9, 9, 11, 0)), 
				linear-gradient(180deg, 
					rgba(9, 9, 11, .3), 
					rgba(9, 9, 11, .55), 
					rgba(9, 9, 11, .73), 
					rgba(9, 9, 11, .9), 
					var(--color-palette-black-60)
			); 
		}

		&--original {
			font-size: 28px;
			font-weight: 500;
			color: var(--defaultColorLight);
			margin-bottom: 12px;
		}

		&--name {
			margin-bottom: 10px;
			font-size: 50px;
		}

		&--infos {
			display: flex;
			flex-wrap: wrap;
			margin: 20px 0 32px;

			&-info {
				position: relative;
				font-size: 22px;
				font-weight: 500;
				line-height: 1.44;
				color: var(--defaultColorLight);
				margin-right: 24px;

				&:not(:last-child) {
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: -14px;
						z-index: 99;
						background: hsla(0, 0%, 100%, .3);
						height: 4px;
						width: 4px;
						border-radius: 50%;
					}
				}
			}
		}

		&--desc {
			font-size: 23px;
			font-weight: 500;
			line-height: 1.44;
			color: var(--defaultColorLight);
			margin-bottom: 80px;
			max-width: 1000px;
		}

		&--ratings {
			display: flex;
			margin-bottom: 40px;
		}

		&--bottom {
			position: relative;
			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: 50px;

			&-btns {
				display: flex;
				flex-wrap: wrap;
				grid-gap: 20px;
				align-self: center;

				a {
					max-width: 315px;
					width: 100%;
				}
			}
		}

		&--play {
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
			align-items: center;
			justify-content: center;
			display: flex;
			align-self: flex-end;
		}

		&--look {
			font-weight: $fRegular;
			font-size: 12px;
			line-height: 15px;
			align-self: flex-start;
			text-transform: none;
		}

		&--trailers {
			position: relative;

			&-btn {
				width: 64px;
				height: 64px;
				background: none;
				border: none;
				cursor: pointer;
				background: var(--color-palette-black-20);
				border-radius: 8px;
				position: relative;
				display: grid;
				align-content: center;
				justify-content: center;
				place-content: center;
				color: var(--color-palette-white-base);
				font-size: 16px;

				svg {
					width: 36px;
					height: 36px;
				}
			}
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 346px;
		grid-column-gap: 74px;

		&-item {
			margin-bottom: 32px;
		}

		&-title {
			font-size: 28px;
			font-weight: 700;
			color: var(--color-palette-white-base);
			margin-bottom: 16px;
		}

		&-desc {
			font-size: 23px;
			font-weight: 500;
			line-height: 1.44;
			color: var(--defaultColorLight);
		}

		&__right {
			align-self: end;
		}
	}

	&-vote {
		max-width: 350px;

		&__title {
			font-size: 28px;
			font-weight: 700;
			color: var(--color-palette-gray-5);
			margin-bottom: 25px;
		}

		&__values {
			display: flex;
			justify-content: space-between;
		}

		&__item {
			display: grid;
			grid-template-columns: auto 68px;
			grid-gap: 12px;
			align-self: center;
		}

		&__value {
			font-size: 36px;
    		text-align: right;
		}

		&__label, &__value {
			font-weight: 700;
			color: var(--color-palette-gray-7);
			align-self: center;
		}
	}

	&__box-office {
		color: var(--color-palette-white-base);
		margin: 40px 0 0;
		display: grid;
		grid-template-columns: repeat(2, 300px);
		grid-gap: 16px;

		&--title {
			font-weight: $fMedium;
			font-size: 21px;
			margin-bottom: 8px;
		}

		&--amount {
			font-size: 18px;
		}
	}

	&-tooltip__trailers {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
	}
}

.trailers {
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 8px;
		background: var(--color-palette-black-solid);
		padding: 10px 15px;
		border-radius: 5px;

		&__not-found {
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			padding: 6px 10px;
			background: rgba(0, 0, 0, .6);
			color: var(--color-palette-white-base);
			white-space: nowrap;
			border-radius: 10px;
			transition: .3s;
		}

		&__link {
			display: grid;
			align-content: center;
			justify-content: center;
			place-content: center;
			text-decoration: none;
			border-radius: 8px;
			border: 1px solid var(--color-palette-green-10);
			font-size: 14px;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: normal;
			color: var(--color-palette-gray-10);
			padding: 8px 10px;

			&:hover {
				border-color: var(--color-palette-gray-10);
			}
		}
	}
}

.voice-acting {
	&__title {
		color: var(--color-palette-gray-10);
		font-weight: 500;
		font-size: 24px;
	}


	&__name {
		span {
			font-weight: $fMedium;
			font-size: 22px;
			color: var(--color-palette-white-base);
		}
	}
}

.v-title {
	font-size: 28px;
    font-weight: 700;
    color: var(--color-palette-white-base);

	&--big {
		font-size: 38px;
		font-weight: 700;
		line-height: 1;
		color: var(--color-palette-white-base);
		margin-bottom: 13px;
	}
}

.fulltext__link {
	color: hsla(0, 0%, 100%, .7);
    font-style: italic;
    text-decoration: underline;
    font-size: 16px;
}

.series-list {
	display: flex;
    margin-top: 32px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;

	&__wrapper {
		position: relative;
	}
	
	&__season {
		position: relative;
	}
}

.link {
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

	&--module--seasons {
		height: 48px;
		width: 48px;
		border-radius: 8px;
		background: var(--color-palette-gray-10);
		margin-right: 8px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: normal;
		color: var(--color-palette-black-solid);
		min-width: 48px;

	
		&.active, &:hover {
			background: var(--color-palette-green-10);
		}
	}
}

.movie-body__right {
	align-self: end;
}

.stars-vote__values {
	display: flex;
    justify-content: space-between;
}

@media (max-width: 968px) {
    .movie__body {
        grid-template-columns: 1fr;

		&-title {
			font-size: 22px;
		}
    }

	.movie-body__right {
		align-self: start;
	}

	.movie-vote__title {
		font-size: 22px;
	}
}

@media (max-width: 880px) {
    .movie__head--desc {
        font-size: 16px;
    }
}

@media (max-width: 860px) {
    .voice-acting-block {
        display: none;
    }
}

@media (max-width: 680px) {
    .movie__head--trailers-btn {
        height: 48px;
        width: 48px;

		svg {
			width: 24px;
			height: 24px;
		}
    }
}

@media (max-width: 639px) {
    .movie__head--bottom {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 479px) {
	.movie__head {
		&--original {
			font-size: 18px;
		}

		&--name {
			font-size: 32px !important;
		}

		&--infos-info {
			font-size: 14px;
		}
	}

	.movie {
		&__box-office {
			grid-template-columns: repeat(2, 150px);

			&--title {
				font-size: 16px;
			}

			&--amount {
				font-size: 14px;
			}
		}
	}

	.movie__body {
		&-desc {
			font-size: 14px;
		}
    }
}

@media (max-width: 450px) {
	.movie-tooltip__trailers {
		top: 70px;
		transform: translateX(-87%);
	}

	.trailers-list__not-found {
		top: -2px;
		transform: translateX(-87%);
	}
}

@media (max-width: 412px) {
	.movie-tooltip__trailers {
		top: 59px;
        transform: translateX(-8%);
	}

	.trailers-list__not-found {
		top: -43px;
		transform: translateX(18%);
	}
}