.movie {
	&__head {
		position: relative;
		min-height: calc(100vh - 76px);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&--overlay {
			display: flex;
			height: 100%;
			flex-direction: column;
			align-content: center;
			min-height: calc(100vh - 76px);
			padding: 30px 0;
			background-image:
				linear-gradient(180deg, 
					$cVampireBlack, 
					rgba(9, 9, 11, .25), 
					rgba(9, 9, 11, 0)), 
				linear-gradient(180deg, 
					rgba(9, 9, 11, .3), 
					rgba(9, 9, 11, .55), 
					rgba(9, 9, 11, .73), 
					rgba(9, 9, 11, .9), 
					$cVampireBlack
			); 
		}

		&--original {
			font-size: 28px;
			font-weight: 500;
			color: var(--defaultColorLight);
			margin-bottom: 12px;
		}

		&--name {
			margin-bottom: 10px;
			font-size: 50px;
		}

		&--infos {
			display: flex;
			flex-wrap: wrap;
			margin: 20px 0 32px;

			&-info {
				position: relative;
				font-size: 22px;
				font-weight: 500;
				line-height: 1.44;
				color: var(--defaultColorLight);
				margin-right: 24px;

				&:not(:last-child) {
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: -14px;
						z-index: 99;
						background: hsla(0, 0%, 100%, .3);
						height: 4px;
						width: 4px;
						border-radius: 50%;
					}
				}
			}
		}

		&--desc {
			font-size: 23px;
			font-weight: 500;
			line-height: 1.44;
			color: var(--defaultColorLight);
			margin-bottom: 80px;
			max-width: 1000px;
		}

		&--ratings {
			display: flex;
			margin-bottom: 40px;
		}

		&--bottom {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-gap: 50px;

			&-btns {
				display: flex;
				flex-wrap: wrap;
				grid-gap: 20px;
				align-self: center;

				a {
					max-width: 315px;
					width: 100%;
				}
			}
		}

		&--play {
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
			align-items: center;
			justify-content: center;
			display: flex;
			align-self: flex-end;
		}

		&--look {
			font-weight: $fRegular;
			font-size: 12px;
			line-height: 15px;
			align-self: flex-start;
			text-transform: none;
		}

		&--trailers {
			position: relative;

			&:hover .trailers__tooltip {
				opacity: 1;
			}

			&-btn {
				width: 64px;
				height: 64px;
				background: none;
				border: none;
				cursor: pointer;
				background: $cLightBlack;
				border-radius: 8px;
				position: relative;
				display: grid;
				align-content: center;
				justify-content: center;
				place-content: center;
				color: $cWhite;
				font-size: 16px;

				svg {
					width: 36px;
					height: 36px;
				}
			}
		}

		&--meta {
			color: $cWhite;
			margin: 40px 0 0;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 16px;

			&-title {
				font-weight: $fMedium;
				margin-bottom: 8px;
			}
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 346px;
		grid-column-gap: 74px;

		&-item {
			margin-bottom: 32px;
		}

		&-title {
			font-size: 28px;
			font-weight: 700;
			color: $cWhite;
			margin-bottom: 16px;
		}

		&-desc {
			font-size: 23px;
			font-weight: 500;
			line-height: 1.44;
			color: var(--defaultColorLight);
		}

		&__right {
			align-self: end;
		}
	}

	&-vote {
		max-width: 350px;

		&__title {
			font-size: 28px;
			font-weight: 700;
			color: #f2f2f2;
			margin-bottom: 25px;
		}

		&__values {
			display: flex;
			justify-content: space-between;
		}

		&__item {
			display: grid;
			grid-template-columns: auto 68px;
			grid-gap: 12px;
			align-self: center;
		}

		&__value {
			font-size: 36px;
    		text-align: right;
		}

		&__label, &__value {
			font-weight: 700;
			color: #c8cbd6;
			align-self: center;
		}
	}
}

.voice-acting {
	&__title {
		color: $cLightGrey;
		font-weight: 500;
		font-size: 24px;
	}


	&__name {
		span {
			font-weight: $fMedium;
			font-size: 22px;
			color: $cWhite;
		}
	}
}

.trailers__tooltip {
	position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    background: rgba(0, 0, 0, .6);
    color: $cWhite;
    white-space: nowrap;
    border-radius: 10px;
    transition: .3s;
    opacity: 0;
}

.v-title {
	font-size: 28px;
    font-weight: 700;
    color: $cWhite;

	&--big {
		font-size: 38px;
		font-weight: 700;
		line-height: 1;
		color: $cWhite;
		margin-bottom: 13px;
	}
}

.fulltext__link {
	color: hsla(0, 0%, 100%, .7);
    font-style: italic;
    text-decoration: underline;
    font-size: 16px;
}

.series-list {
	display: flex;
    margin-top: 32px;
    overflow: hidden;

	&__wrapper {
		position: relative;
	}
	
	&__season {
		position: relative;
	}
}

.link {
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

	&--module--seasons {
		height: 48px;
		width: 48px;
		border-radius: 8px;
		background: $cLightGrey;
		margin-right: 8px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: normal;
		color: $cBlack;
		min-width: 48px;

	
		&.active, &:hover {
			background: $cCaterpillar;
		}
	}
}