.module {
	position: relative;
	margin-bottom: 80px;

	&__slider {
		position: relative;
	}

	&__link {
		padding: 0;
		width: -moz-fit-content;
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		gap: 8px;
		font-size: 14px;
		color: var(--color-palette-green-10);

		&:hover {
			color: var(--color-palette-green-20);
		}

		&::after {
			content: attr(data-link);
		}

		svg {
			width: 18px;
			height: 18px;
			fill: var(--color-palette-green-10);
			transition: .3s;
		}
	}

	&__movies--swiper {
		overflow: hidden;
	}

	&:hover &__title svg {
		opacity: 1;
	}
}

.swiper-top {
	margin: 64px 0 56px;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
    flex-shrink: 0;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 24px;
    max-height: 100%;
    transform: none !important;
    width: auto;

	&--genres {
		width: auto !important;
	}
}

@media (max-width: 640px) {
    .module {
        margin-bottom: 40px;
		&__link {
			&::after {
				content: 'Все';
			}
		}
    }
}
