.v-button {
	--button-hover: var(--color-palette-green-20);
	--button-color: #0b0b0b;
	--button-background: var(--color-palette-green-10);
	--button-outline-hover: #232323;
	--button-outline-active: #141925;
	--button-disabled: #383d2b;
	--svg-width: 24px;
    --svg-height: 24px;
	align-items: center;
	background: var(--button-background);
	border: none;
	border-radius: 32px;
	color: var(--button-color);
	cursor: pointer;
	display: flex;
	font-size: var(--button-font-size);
	font-style: normal;
	font-weight: $fSemiBold;
	gap: 8px;
	justify-content: center;
	line-height: var(--button-line-height);
	padding: var(--button-padding);
	transition: .3s;
	white-space: nowrap;
	width: 100%;

	&--link {
		flex-direction: row-reverse;
	}

	&--genre {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		background: transparent;
		color: var(--color-palette-gray-10);
		transition: .5s ease-out;
		height: 47px;
		padding: 6px 16px 6px 6px;
		border-radius: 12px;
		position: relative;
		z-index: 1;
		gap: 6px;
		overflow: hidden;
		font-size: 16px;
		font-weight: 500;

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: inherit;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .13) 50%, hsla(0, 0%, 100%, .1));
			z-index: -2;
		}

		&::after {
			transition: opacity .5s ease-out;
    		opacity: 0;
		}

		&:hover {
			--button-background: #232730;
			--button-color: var(--color-palette-white-base);
		}
	}

	&--rounded {
		width: -moz-fit-content;
		width: fit-content;
	}

	&--color-main {
		--button-background: var(--color-palette-green-10);
		--button-color: var(--color-palette-black-70);

		&:hover {
			--button-hover: var(--color-palette-green-20);
			--button-color: var(--color-palette-black-70);
		}
	}

	&--color-gray {
		--button-background: #232730;
		--button-color: var(--color-palette-white-base);

		&:hover {
			--button-hover: #232730;
			--button-color: #9d9d9d;
		}
	}

	&--color-white {
		--button-background: var(--color-palette-white-base);
		--button-color: #0b0b0b;

		&:hover {
			--button-hover: #9d9d9d;	
			--button-color: #0b0b0b;
		}
	}

	&:deep(svg) {
		width: var(--svg-width);
		height: var(--svg-height);
	}
}

.v-button--mobile.v-button[data-size=normal] {
    padding: 2px 0;
}

.v-button--search.v-button[data-size=normal] {
    padding: 2px 0;
}

.v-button[data-size=large] {
	--button-font-size: 18px;
    --button-padding: 16px 24px;
    --button-line-height: 28px;
    --rounded-padding: 18px;
    --svg-width: 24px;
    --svg-height: 24px;
}

.v-button[data-size=normal] {
    --button-font-size: 16px;
    --button-padding: 12px 16px;
    --button-line-height: 24px;
    --rounded-padding: 12px;
    --svg-width: 24px;
    --svg-height: 24px
}

.v-button[data-size=small] {
    --button-font-size: 14px;
    --button-padding: 8px;
    --button-line-height: 20px;
    --svg-width: 16px;
    --svg-height: 16px;
    --rounded-padding: 10px;
}

.v-button:hover:not(.v-button[disabled]) {
    background-color: var(--button-hover);
}

.v-button[disabled] {
    background-color: var(--button-disabled);
    cursor: default;
    pointer-events: none
}

.v-button[data-appearance=text] {
	background-color: transparent;
    --button-color: var(--button-background);

	:deep(svg) {
		color: var(--button-color);
		transition: .3s;
		fill: var(--button-color);
	}
}

.v-button[data-appearance=outline] {
	background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--button-background);
    --button-color: var(--button-background);

	:deep(svg) {
		color: var(--button-background);
		transition: .3s;
		fill: var(--button-background)
	}
}

.v-button[data-appearance=outline][disabled] {
    background-color: transparent;
    --button-background: var(--button-disabled);
    --button-color: var(--button-disabled)
}

.v-button:hover:not(.v-button[disabled]) {
    background-color: var(--button-hover);
}

.v-button[data-appearance=outline]:hover:not(.v-button[data-appearance=outline]:disabled) {
    background-color: var(--button-outline-hover);
    --button-background: var(--button-hover);
    --button-color: var(--button-hover);
}

.v-button[data-appearance=text]:hover:not(.v-button[data-appearance=text]:disabled) {
    background-color: transparent;
	--button-color: var(--button-hover);
}

.v-button--rounded.v-button[data-size=large] {
    --button-padding: 16px 18px;
}

@media (min-width: 960px) {
    .v-button--genre {
        height: 53px;
        padding: 8px 20px 8px 10px;
        border-radius: 12px;
        gap: 14px;
    }
}

@media (max-width: 640px) {
	.v-button--media-normal.v-button[data-size=large], 
	.v-button--media-normal.v-button[data-size=normal], 
	.v-button--media-normal.v-button[data-size=small] {
        --button-font-size: 16px;
        --button-padding: 12px 16px;
        --button-line-height: 24px;
    }

	.v-button[data-size=normal] {
		--button-font-size: 14px;
        --button-padding: 8px;
        --button-line-height: 20px;
	}

    .v-button--media-normal.v-button--rounded[data-size=large], 
	.v-button--media-normal.v-button--rounded[data-size=normal], 
	.v-button--media-normal.v-button--rounded[data-size=small] {
        --button-padding: 12px;
    }
}