.sidebar {

	&__background {
		top: 0; // 70px;
		width: 100vw;
		position: fixed;
		left: 0;
		z-index: 100;
		background: transparent;
		animation-name: fadeIn;
	}

	&__notifications {
		// background: rgba(9, 9, 12, .8);
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&--body {
			background: rgba(9, 9, 12, .8);
		}

		&--header {
			height: auto !important;
			padding: 24px 24px 20px !important;
			justify-content: flex-start !important;
			border-radius: 24px 24px 0 0;
			background: var(--color-palette-black-30);
			display: flex;
			position: relative;

			h2 {
				color: var(--color-palette-white-base);
				font-size: 20px !important;
				font-weight: 500;
				letter-spacing: .1px;
			}
		}
	}

	&__wrapper &__notifications {
		max-height: calc(100vh - 70px);
	}

	&__notifications &__wrapper > div {
		max-height: 100vh;
	}

	&_wrapper > div {
		width: 100%;
		margin-left: auto;
	}

	&__wrapper {
		width: 100vw;
		padding-top: env(safe-area-inset-top);
	}

	&-filters {
		overflow: scroll;
		display: flex;
		background: var(--color-palette-black-30);
		color: var(--color-palette-white-base);
		flex-direction: column;

		&__body {
			padding: 0 24px 24px;
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-size: 18px !important;
			font-weight: $fMedium;
			margin-bottom: 8px;

			&:last-child {
				margin-top: 16px;
			}
		}

		&__content {
			min-height: 142px;
			max-height: 214px;
			overflow: hidden auto;
		}

		&__item {
			display: flex;
			flex-direction: column;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		&__input-wrapper {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			margin-bottom: 0;
			border-radius: 16px;
			padding: 8px 0;
			transition: all .2s linear;

			input[type="radio"] {
				display: none;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0;

				&:checked + label::before {
					background-color: var(--color-palette-green-10);
					box-shadow: inset 0 0 0 20px var(--color-palette-green-10);
				}

				&:checked + label::after {
					content: "";
					position: absolute;
					left: 7px;
					top: 7.5px;
					width: 6px;
					height: 6px;
					background-color: #09090c;
					border-radius: 50%;
					display: block;
				}
			}



			label {
				position: relative;
				padding-left: 30px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 20px;
				font-size: 16px !important;
				font-weight: $fRegular;
				&::before {
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: hsla(0, 0%, 100%, .1);
				}

				&::after, &::before {
					content: "";
					position: absolute;
					right: 0;
				}
			}
		}

		&__input-text {
			border-radius: 8px;
			border: 1px solid transparent;
			background: hsla(0, 0%, 100%, .1);
			display: flex;
			height: 32px;
			padding: 8px 8px 8px 12px;
			align-items: center;
			margin-bottom: 8px;
			align-self: stretch;
			outline: none;
			color: var(--color-palette-white-base);
		}
		

		&__footer {
			width: 100%;
			bottom: 0;
			z-index: 1;
			display: flex;
			flex-direction: column;
			padding: 0 12px env(safe-area-inset-bottom);
		}
	}
}

.button-soft {
    color: var(--color-palette-white-base) !important;

	&::after, &::before {
		background: hsla(0, 0%, 100%, .1);
	}

	&:hover {
		color: var(--color-palette-white-base) !important;

		&::after {
			opacity: 1;
		}
	}
}

.button-primary {
    color: var(--color-palette-black-50) !important;

	&::after, &::before {
		background: linear-gradient(46.47deg, #f4f542 2.44%, #99e942 64.88%);
	}
}

.footer-button {
	position: relative;
    background: transparent;
	margin-bottom: 8px;
	z-index: 1;
}

.close-icon {
	position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

@keyframes fadeIn {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(0, 0, 0, .8);
	}
}