.sidebar {
	&__background {
		top: 0;
		width: 100vw;
		position: fixed;
		left: 0;
		z-index: 100;
		background-color: transparent;
	}

	&__notifications {
		background: rgba(9, 9, 12, .8);
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&--header {
			height: auto !important;
			padding: 24px 24px 20px !important;
			justify-content: flex-start !important;
			border-radius: 24px 24px 0 0;
			background: var(--color-palette-black-30);
			display: flex;
			position: relative;

			h2 {
				color: var(--color-palette-white-base);
				font-size: 20px !important;
				font-weight: $fMedium;
				letter-spacing: .1px;
			}
		}
	}

	&__wrapper {
		width: 100vw;
		padding-top: env(safe-area-inset-top);
	}

	&-filters {
		overflow: scroll;
		display: flex;
		background: var(--color-palette-black-30);
		color: var(--color-palette-white-base);
		flex-direction: column;

		&__body {
			padding: 0 24px 24px;
			display: flex;
			flex-direction: column;
		}

		&__item {
			border-bottom: 1px solid hsla(76, 8%, 48%, .5);
			padding: 16px;

			&-header {
				align-items: center;
				display: flex;
				justify-content: space-between;
				margin-bottom: 11px;
			}

			&-label {
				color: var(--color-palette-white-base);
				font-size: 18px;
				font-style: normal;
				font-weight: $fRegular;
				line-height: 28px;
			}

			&-value {
				color: var(--color-palette-gray-10);
				font-size: 16px;
				font-style: normal;
				font-weight: $fRegular;
				line-height: 24px;
			}
		}

		&__footer {
			width: 100%;
			bottom: 0;
			z-index: 1;
			display: flex;
			flex-direction: column;
			padding: 0 12px env(safe-area-inset-bottom);
		}
	}
}

.sidebar-open {
	animation: slideInUp .5s ease-in-out forwards;
}

.sidebar__background-in {
	animation-name: fadeIn;
}

.footer-button {
	margin-bottom: 8px;
}

.close-icon {
	position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
	color: var(--color-palette-white-base);
}

@keyframes slideInUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(0, 0, 0, .8);
	}
}