.movie {
	height: 350px;
    display: flex;
    flex-direction: column;

	&:hover .movie__image--inner {
		transform: scale(1.05);
		filter: brightness(.8);
	}
	
	&__body {
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		height: 100%;
	}

	&__image {
		width: 100%;
		transition: .4s;
		-o-object-fit: cover;
		object-fit: cover;
		height: 100%;

		&--not-found {
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: center;
			color: var(--color-palette-white-base);
		}
	}
	
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .6));
		padding: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas:
			"card-kp card-imdb card-flex";
	}

	&__movie {
		grid-area: card-kp;
		margin-right: 0;
		justify-content: flex-start;
		margin-top: auto;
	}

	&__imdb {
		grid-area: card-imdb;
		margin-right: 0;
		justify-content: center;
		margin-top: auto;
	}
	
	&__title {
		font-size: 16px;
		font-weight: 700;
		color: hsla(0, 0%, 100%, .8);
		color: var(--defaultColorLight);
		margin-bottom: 5px;
		transition: .3s;
		margin-top: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.extertal__rating--small {
	margin-right: 16px;
	grid-template-columns: 16px auto;
	grid-column-gap: 4px;
}

@media (max-width: 1409px) {
    .movie__content {
        padding:10px;
    }
}

@media (max-width: 968px) {
    .movie {
		height: 417px;
	}
}

@media (max-width: 680px) {
    .movie {
		height: 235px;
	}
}