.movie-card {
	display: grid;
    gap: 16px;
    grid-template-rows: auto 1fr;
    position: relative;
    transition: 1s;
    width: 100%;

	&:hover {
		transform: scale(1.02);
	}

	&:hover .movie__image--inner {
		transform: scale(1.05);
		filter: brightness(.8);
	}

	&__image {
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		transition: .4s;
		width: 100%;

		&-container {
			aspect-ratio: 2 / 3;
			border-radius: 32px;
			cursor: pointer;
			height: 384px;
			overflow: hidden;
			width: 256px;
		}
	}

	&__overlay {
		inset: 0;
		padding: 20px;
		position: absolute;
	}

	&__info {
		display: grid;
		gap: 8px;
		grid-template-rows: min-content;
		width: 256px;
	}

	&__title {
		color: var(--color-palette-white-base);
		font-size: 24px;
		font-weight: $fBold;
		line-height: 32px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.loader {
	align-items: center;
    border: 1px solid hsla(0, 0%, 100%, .2);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

	&--movie {
		aspect-ratio: 2 / 3;
		border-radius: 32px;
	}

	&-logo {
		animation: pulse 2s infinite;

		svg {
			display: block;
			width: 140px;
			height: 60px;
		}
	}
}

.movie-card .movie-card__image-container .movie-card__info {
	max-width: 282px;
    min-width: 156px;
    width: 100%;
}

@keyframes pulse {
	0% {
		transform: scale(.9);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
} 

@media (max-width: 640px) {
	.movie-card.resize .movie-card__image-container {
        height: 100%;
        width: 100%;
    }

	.movie-card__image-container {
        border-radius: 16px;
        height: 232px;
        width: 156px;
    }

	.loader--movie {
		border-radius: 16px;
	}

	.movie-card__info {
        width: 156px;
    }

	.movie-card__title {
        font-size: 16px;
        line-height: 24px;
    }

	.loader-logo {
		svg {
			width: 80px;
			height: 60px;
		}
	}
}