.star-rating {
	display: inline-flex;
	position: relative;
	margin-bottom: 27px;

	&__colored {
		display: inline-flex;
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
}
  
.star {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 3px;
	flex-shrink: 0;

	&--outlined {
		fill: var(--color-palette-gray-10);
	}

	&--colored {
		fill: var(--color-palette-green-10);
	}
}