.lists {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-column-gap: 28px;
    grid-row-gap: 32px;
    justify-content: center;
    margin-bottom: 32px;
}

.container {
	&__head {
		display: grid;
		grid-template-columns: 1fr auto;
		margin-bottom: 40px;
		grid-gap: 16px;
		gap: 16px;
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2em;
		color: $cWhite;
		align-self: center;
		display: flex;
		grid-gap: 20px;
		gap: 20px;
		align-items: center;
	}
}

@media (max-width: 1360px) {
    .lists {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}