.dropdown {
	&__catalog {
		margin-bottom: 24px;
		display: flex;
		align-items: center;

		&--container {
			position: relative;
			margin-right: 20px;
		}
	
		&--item {
			transition: .3s ease;
			display: flex;
			width: calc(100% + 10px);
			justify-content: flex-end;
			cursor: pointer;
		
			p {
				margin-bottom: unset;
				line-height: 1.5;
				color: var(--color-palette-white-base);
			}
		}
	}

	&__options {
		box-shadow: 0 4px 20px 8px rgba(0, 0, 0, .6);
		margin: unset;
		border-radius: 16px;
		background: var(--color-palette-black-30);
		scrollbar-width: none;
		scrollbar-color: var(--color-palette-gray-30) var(--color-palette-gray-70);
		overflow: scroll;
		padding: 8px 0;
		opacity: 1;
		min-width: 172px;
		min-height: -moz-fit-content;
		min-height: fit-content;
		max-height: 250px;
		z-index: 13;
		position: absolute;
		display: unset;

		svg {
			width: 24px;
			height: 24px;
		}

		&.active {
			display: block;
		}

		input {
			width: 85%;
			border-radius: 8px;
			border: 1px solid transparent;
			background: linear-gradient(180deg, hsla(0, 0%, 100%, .1) 0, hsla(0, 0%, 100%, .13) 50%, hsla(0, 0%, 100%, .1) 100%);
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			display: flex;
			height: 32px;
			padding: 12px 16px 12px 12px;
			align-items: center;
			margin: 12px;
			gap: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: var(--color-palette-white-base);
			outline: none;
		}

		li {
			display: flex;
			justify-content: space-between;
			padding: 8px 12px;
			align-items: center;
			white-space: nowrap;
			cursor: pointer;
			transition: all .2s linear;
			color: var(--color-palette-white-base);
			font-size: 16px;

			&:hover {
				background: hsla(0, 0%, 100%, .1);
			}
		}

		&--empty {
			font-size: 12px !important;
			font-weight: $fRegular;
			color: var(--color-palette-gray-10);
		}
	}

	&__body {
		position: absolute;
		top: 100%;
    	left: 0;
		opacity: 1;
		height: max-content;
		min-width: 172px;
		width: calc(100% + 40px);
		z-index: 3;
		display: unset;
	}
}

.active-dropdown {
	transform: rotate(180deg);
}

.icon-dropdown {
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
	transition: .3s ease;
}
