.v-swiper {
	box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.slider-control {
	display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
    position: absolute;
    width: 60px;
    height: 100%;
    z-index: 100;
    top: 0;
    cursor: pointer;

	&.right {
		right: 0;
	}

	&.left {
		left: 0;
		:deep(svg) {
			transform: rotate(180deg);
		}
	}
}

@media (max-width: 1366px) {
	.slider-control {
		display: none;
	}
}
  

