.v-swiper {
		box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	transform: translateZ(0);
	transition: opacity .3s;
	z-index: 10;
}

.swiper-pagination-bullet {
	background: #000;
	border-radius: 50%;
	display: inline-block;
	height: 8px;
	opacity: .2;
	width: 8px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets 
.swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets 
.swiper-pagination-bullet {
	margin: 0 4px;
}

.slider-control {
		align-items: center;
		display: flex;
		height: 90%;
		position: absolute;
		z-index: 2;
    cursor: pointer;
		top: 0;

	&.right {
		justify-content: flex-end;
    right: 0;
    width: 100px;
	}

	&.left {
		left: 0;
		:deep(svg) {
			transform: rotate(180deg);
		}
	}
}

@media (max-width: 1366px) {
	.slider-control {
		display: none;
	}
}
  

