.header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: radial-gradient(circle, #12101167 0, #94bbe900);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

	&__logo {
		svg {
			height: 50px;
    		width: 106px;
		}
	}

	&__container {
		align-items: center;
		display: flex;
		gap: 16px;
	}

	&__spacer {
		margin: auto;
	}

	&-menu {
		display: flex;
		gap: 16px;
		text-decoration: none;
		list-style-type: none;

		&__item {
			padding: 10px 8px;
		}

		&__link {
			color: #fff6;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px;

			&:hover {
				color: #eee;
			}
		}
	}
}

.mobile__button {
	display: none;
}

.active-link {
	text-decoration: none;
	font-weight: $fBold;
	color: var(--color-palette-white-base) !important;

	&--mobile {
		&::after {
			content: "";
			height: 4px;
			border-radius: 8px;
			width: 100%;
			background: var(--primary-gradient);
			position: absolute;
			left: 0;
			z-index: -1;
			bottom: -9px;
		}
	}
}

.header-bottom {
	&__mobile {
		display: none;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
		margin: 0 0 12px;
		border-radius: 16px;
		border: 1px solid hsla(0, 0%, 100%, .3);
		background: rgba(9, 9, 12, .7);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	&__link {
		display: flex;
        width: 50px;
        height: 50px;
		justify-content: center;
		gap: 4px;
        flex-direction: column;
        align-items: center;
        color: var(--color-palette-white-base);
        white-space: nowrap;
        font-size: 10px !important;
        font-weight: 500 !important;
        line-height: normal !important;
        position: relative;
        z-index: 20;
	}
}

.mobile-icon {
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.main-icon {
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%3E%3Cpath%20d=%22M5%2021.9998H19C19.5304%2021.9998%2020.0391%2021.7891%2020.4142%2021.414C20.7893%2021.039%2021%2020.5303%2021%2019.9998V10.9998C21.0008%2010.8682%2020.9755%2010.7377%2020.9258%2010.6159C20.876%2010.4941%2020.8027%2010.3833%2020.71%2010.2898L12.71%202.28982C12.5226%202.10357%2012.2692%201.99902%2012.005%201.99902C11.7408%201.99902%2011.4874%202.10357%2011.3%202.28982L3.3%2010.2898C3.20551%2010.3824%203.13034%2010.4929%203.07885%2010.6148C3.02735%2010.7366%203.00055%2010.8675%203%2010.9998V19.9998C3%2020.5303%203.21071%2021.039%203.58579%2021.414C3.96086%2021.7891%204.46957%2021.9998%205%2021.9998ZM10%2019.9998V14.9998H14V19.9998H10ZM5%2011.4098L12%204.40982L19%2011.4098V19.9998H16V14.9998C16%2014.4694%2015.7893%2013.9607%2015.4142%2013.5856C15.0391%2013.2105%2014.5304%2012.9998%2014%2012.9998H10C9.46957%2012.9998%208.96086%2013.2105%208.58579%2013.5856C8.21071%2013.9607%208%2014.4694%208%2014.9998V19.9998H5V11.4098Z%22%20fill=%22rgba(255,%20255,%20255,%201)%22/%3E%3C/svg%3E');
}

.favorite-icon {
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2032%2032%22%3E%3Cpath%20d=%22M23.8,2H8.2C6.5,2,5.1,3.4,5.1,5.1v24.6c0,0.2,0.2,0.3,0.4,0.3l10.4-4.5c0.1,0,0.2,0,0.2,0L26.6,30c0.2,0.1,0.4-0.1,0.4-0.3V5.1C26.9,3.4,25.5,2,23.8,2z%20M23.4,25.3l-7.3-3.2c-0.1,0-0.2,0-0.2,0l-7.3,3.2c-0.2,0.1-0.4-0.1-0.4-0.3V5.4c0-0.2,0.1-0.3,0.3-0.3h15.1c0.2,0,0.3,0.1,0.3,0.3V25C23.8,25.2,23.6,25.4,23.4,25.3z%22%20fill=%22%23FFFFFF%22/%3E%3C/svg%3E');
}

.browse-icon {
	background-image: url('@/shared/assets/icons/browse.svg');
	color: var(--color-palette-white-base);
}

@media (max-width: 1024px) {
    .header-menu {
        display: none;
    }

	.header-bottom__mobile {
		display: block !important;
		position: fixed;
		bottom: 0;
		left: 50%;
		width: 480px;
		transform: translate(-50%);
		padding-bottom: env(safe-area-inset-bottom);
		z-index: 50;
	}
}

@media (max-width: 1024px) and (max-width: 385px) {
	.header-bottom__link {
		width: 64px;
	}

	.active-link {
		&::after {
			bottom: -9px;
			height: 3px;
		}
	}
}

@media (max-width: 1024px) and (max-width: 520px) {
	.header-bottom__mobile {
		width: calc(100% - 32px);
	}
}

@media (max-width: 640px) {
	.header {
		padding: 13px 0;

		&__logo {
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
		}
	}

	.mobile__button {
		display: block;
	}
}