.v-button {
	align-items: center;
	background: var(--color-palette-green-10);
	border: none;
	border-radius: 32px;
	color: var(--color-palette-black-70);
	cursor: pointer;
	display: flex;
	font-size: 18px;
	font-style: normal;
	font-weight: $fSemiBold;
	gap: 8px;
	justify-content: center;
	line-height: 28px;
	padding: 16px 24px;
	transition: .3s;
	white-space: nowrap;
	width: 100%;

	&:hover {
		background: var(--color-palette-green-20);
	}

	&.active {
		background: var(--color-palette-green-10);
		color: #141925;

		&:hover {
			background: var(--color-palette-green-20);
			color: #141925;
		}
	}

	&--genre {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		background: transparent;
		color: var(--color-palette-gray-10);
		transition: .5s ease-out;
		height: 47px;
		padding: 6px 16px 6px 6px;
		border-radius: 12px;
		position: relative;
		z-index: 1;
		gap: 6px;
		overflow: hidden;
		font-size: 16px;
		font-weight: 500;

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: inherit;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .13) 50%, hsla(0, 0%, 100%, .1));
			z-index: -2;
		}

		&::after {
			transition: opacity .5s ease-out;
    		opacity: 0;
		}

		&:hover {
			color: var(--color-palette-white-base);
			background: hsla(0, 0%, 100%, .1);
		}
	}

	&--rounded {
		width: -moz-fit-content;
		width: fit-content;
	}

	&--color-gray {
		background-color: #232730;
		color: var(--color-palette-white-base);

		&:hover {
			background-color: #232730;
			color: #9d9d9d;
		}
	}
}

.v-button[data-size=normal] {
	font-size: 16px;
    padding: 12px 16px;
    line-height: 24px;
}

.v-button[data-size=large] {
	font-size: 18px;
    padding: 16px 24px;
    line-height: 28px;
}

.v-button[data-size=small] {
   	font-size: 14px;
    padding: 8px;
    line-height: 20px;
}

.v-button[data-appearance=outline] {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-palette-white-base);
    color: var(--color-palette-white-base);

	&:hover {
		background-color: #232323;
		color: #9d9d9d;
	}
}

.v-button[data-appearance=text] {
    background-color: transparent;
    color: var(--color-palette-white-base);
}

@media (min-width: 960px) {
    .v-button--genre {
        height: 53px;
        padding: 8px 20px 8px 10px;
        border-radius: 12px;
        gap: 14px;
    }
}

@media (max-width: 640px) {
	.v-button[data-size=large], .v-button[data-appearance=outline] {
		font-size: 16px;
		padding: 12px 16px;
		line-height: 24px;
	}

	.v-button[data-size=normal] {
		font-size: 14px;
        padding: 8px;
        line-height: 20px;
	}
}