.v-button {
	background: none;
	border: none;
	box-shadow: none;
    cursor: pointer;
    color: var(--color-palette-black-solid);
    font-size: 16px;
    border-radius: 8px;
    position: relative;

	&--play-free {
		cursor: pointer;
		max-width: 315px;
		width: 100%;
		height: 64px;
		border-radius: 8px;
		background: var(--primary-gradient);
		display: grid;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: normal;
		color: var(--color-palette-black-solid);
		text-transform: uppercase;
		white-space: nowrap;
	}

	&--menu {
		width: 35px;
		display: none;
		position: relative;
	}

	&--genre {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		background: transparent;
		color: var(--color-palette-gray-10);
		transition: .5s ease-out;
		height: 47px;
		padding: 6px 16px 6px 6px;
		border-radius: 12px;
		position: relative;
		z-index: 1;
		gap: 6px;
		overflow: hidden;
		font-size: 16px;
		font-weight: 500;

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: inherit;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .13) 50%, hsla(0, 0%, 100%, .1));
			z-index: -2;
		}

		&::after {
			transition: opacity .5s ease-out;
    		opacity: 0;
		}

		&:active, &:hover {
			color: var(--color-palette-white-base);

			&::before {
				background: hsla(0, 0%, 100%, .1);
			}
		}
	}
}

@media (max-width: 1300px) {
    .v-button--menu {
        display: flex;
    }
}

@media (min-width: 960px) {
    .v-button--genre {
        height: 53px;
        padding: 8px 20px 8px 10px;
        border-radius: 12px;
        gap: 14px;
    }
}