.logo-link {
    text-decoration: none;
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;

	svg {
		width: 100px;
	}

	&__title {
		color: var(--color-palette-white-base);
	}

	&__subtitle {
		color: var(--color-palette-white-base);
	}
}