.logo-link {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;

	svg {
		width: 100px;
		height: 80px;
	}

	&__title {
		color: $cWhite;
	}

	&__subtitle {
		color: $cWhite;
	}
}